<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="en-US">

<head>
    <h1>Recipe Book</h1>
        {% if request.user.is_authenticated %}
            <form action="{% url 'logout' %}" method="POST">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>
        {% else %}
            <form action="{% url 'login' %}" method="POST">
                {% csrf_token %}
                <button type="submit">Login</button>
            </form>
        {% endif %}
</head>

<body>
    {% block content %}{% endblock %}
</body>

</html>